<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card">
    <img src="http://placehold.it/270x171" alt="Bakery" 
      class="card-img-top center-block product-item">
      <div class="card-block">
        <h4 class="card-title">Bakery</h4>
        <p class="card-text">
          The best cupcakes, cookies, cakes, pies, 
          cheesecakes, fresh bread, biscotti, muffins,
          bagels, fresh coffe and more.
        </p>
        <a href="#" class="btn btn-primary">Browse</a>
      </div>
  </div>
</div>

<div class="container">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<div class="container">
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <button type="button" class="btn btn-outline-secondary">Secondary</button>
  <button type="button" class="btn btn-outline-success">Success</button>
  <button type="button" class="btn btn-outline-info">Info</button>
  <button type="button" class="btn btn-outline-warning">Warning</button>
  <button type="button" class="btn btn-outline-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<div class="container">
  <button type="button" class="btn btn-primary btn-lg">Large Button</button>
  <button type="button" class="btn btn-primary btn-sm">Small Button</button>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block">Block Button</button>

<a href="#" class="btn btn-outline-primary btn-lg active">Primary Link Active</a>
<button type="button" disabled class="btn btn-primary btn-lg">Primary Button Disable</button>

<div class="container">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="checkbox" checked autocomplete="off">
      Checkbox 1 (active)
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" checked autocomplete="off">
      Checkbox 2
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" checked autocomplete="off">
      Checkbox 3
    </label>
  </div>
</div>
<div class="container">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="optional" autocomplete="off">
      Radio 1 (preselected)
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="optional" autocomplete="off">
      Radio 2
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="optional" autocomplete="off">
      Radio 3
    </label>
  </div>
</div>
<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a href="#" class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Another Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Disable</a>
    </li>
  </ul>
</div>
<div class="container">
  <nav class="nav">
    <a href="#" class="nav-link active">Active</a>
    <a href="#" class="nav-link">Link</a>
    <a href="#" class="nav-link">Link</a>
    <a href="#" class="nav-link disable">Disabled</a>
  </nav>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Another Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Disable</a>
    </li>
  </ul>
</div>
<div class="container">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="#" class="nav-link active">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Another Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Disable</a>
    </li>
  </ul>
</div>
<div class="container">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link active">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Another Link</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link disabled">Disable</a>
    </li>
  </ul>
</div>